.explore {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
  width: 100%;
  padding-bottom: 2rem;
}

.sidebar {
  width: 20%;
  box-shadow: var(--shadow);
  background-color: white;
  padding: 1.4rem;
}

.main {
  box-shadow: var(--shadow);
  background-color: white;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1300px;
  min-height: 105vh;
}

.search {
  background-color: white;
  height: 3rem;
  width: 38rem;
  border-radius: 0.5rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  box-shadow: 0 6px 27px 0 rgba(0, 3, 2, 0.08);
  display: flex;
  align-items: center;
  padding-right: 0.6rem;
  margin-top: 2rem;
  position: relative;
  border-left: none;
}

.footer {
  display: flex;
  justify-content: center;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nobodyMainText {
  font-size: 30px;
  margin-top: 1.5rem;
}

.nobodyText {
  font-size: 17px;
  margin-top: 1rem;
}

/* navigations */

.nav {
  height: 10rem;
  display: flex;
  justify-content: center;
}

.pages {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.page {
  height: 2rem;
  width: 2rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.btn {
  border: 1px solid black;
  padding: 0.25rem;
  padding-left: 0.45rem;
  padding-right: 0.45rem;
}

.searchIcon {
  background-color: var(--primary-color);
  width: 15%;
  height: 3rem;
  text-align: center;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput {
  color: rgb(134, 134, 134);
  width: 90%;
  padding: 1rem;
}

.searchInput:focus {
  outline: none;
  color: var(--primary-color);
}

@media (max-width: 1400px) {
  .main {
    padding: 0;
  }

  .cards {
    padding: 0;
    min-height: 0;
  }

  .nobodyText {
    font-size: 15px;
  }

  .nobodyMainText {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .sidebar {
    width: auto;
  }
  .search {
    width: 25rem;
    margin-top: 4rem;
    height: 2.4rem;
  }
}

@media (max-width: 738px) {
  .body {
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }

  .searchInput {
    font-size: 0.85rem;
  }

  .searchIcon {
    width: 30%;
    height: 2.4rem;
  }

  .main {
    width: 95%;
  }

  .sidebar {
    width: 100%;
    padding: 1rem;
  }

  .nobodyText {
    font-size: 13px;
  }

  .nobodyMainText {
    font-size: 20px;
  }
}

@media (max-width: 640px) {
  .search {
    margin-top: 4rem;
    width: 18rem;
  }
}
