.header {
  /* background-image: url(/img19S.webp); */
  background-image: url(/headerIMGBg.jpeg);
  height: 75vh;
  width: 100vw;
  background-position: top;
  background-size: cover;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 12rem;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
  background-attachment: fixed;
  background-repeat: no-repeat;
  gap: 4rem;
  /* animation: slide 25s infinite; */
}

.headingText {
  font-size: 3.65rem;
  color: var(--secondary-color);
  font-weight: 800;
  letter-spacing: -0.5px;
  word-spacing: 1px;
  white-space: nowrap;
}

.subText {
  font-size: 1.5rem;
}

.colorx {
  color: var(--primaryx-color);
}

.AnimationText {
  display: inline-block;
  animation: bounceIn 2s infinite;
  color: #f4ce14;
}

@keyframes bounceIn {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes slide {
  0% {
    background-image: url(/photographer-header.png);
    /* background-color:rgba(0, 0, 0, 0.5); */
  }
  48% {
    /* opacity: 0.8; */
    background-image: url(/web-developer-header.png);
    /* background-color:rgba(0, 0, 0, 0.5); */
  }
  50% {
    /* opacity: 1; */
  }
  98% {
    /* opacity: 0.8; */
    background-image: url(/model-header.png);
    /* background-color:rgba(0, 0, 0, 0.5); */
  }
  100% {
    /* opacity: 1; */
  }
}

@media (max-width: 1024px) {
  .headingText {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .header {
    height: 45vh;
    background-image: url(/headerIMGBg.jpeg);
    background-attachment: scroll;
    padding-top: 4rem;
    justify-content: space-around;
  }

  .headingText {
    font-size: 2rem;
  }
}
@media (max-width: 640px) {
  .header {
    gap: 0;
  }
  .headingText {
    font-size: 1.1rem;
  }
}
