.searchBox {
  background-color: white;
  height: 3rem;
  width: 38rem;
  border-radius: 0.5rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  box-shadow: 0 6px 27px 0 rgba(0, 3, 2, 0.08);
  display: flex;
  align-items: center;
  padding-right: 0.6rem;
  gap: 1rem;
  margin-top: 2rem;
  position: relative;
  border-left: none;
}

.searchIcon {
  background-color: var(--primary-color);
  width: 10%;
  height: 3rem;
  text-align: center;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput {
  color: rgb(134, 134, 134);
  width: 90%;
}

.searchInput:focus {
  outline: none;
  color: var(--primary-color);
}

.searchInput:focus .searchNames {
  display: block;
}

.searchNames {
  background-color: #ffffff;
  position: absolute;
  top: 3.2rem;
  left: 0;
  width: 38rem;
  border-radius: 0.5rem;
  z-index: 100;
  overflow: hidden;
  box-shadow: 0 6px 27px 0 rgba(0, 3, 2, 0.08);
}

.names {
  text-align: left;
  display: flex;
  flex-direction: column;
  color: rgb(157, 148, 148);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  letter-spacing: 1px;
}

.name {
  cursor: pointer;
  padding: 0.5rem;
  padding-left: 0.85rem;
}

.name:hover {
  background-color: rgb(229, 240, 236);
}

.suggestions {
  font-size: 1rem;
  text-align: left;
  margin-top: 0.6rem;
}

.link {
  color: white;
  border-bottom: 1px solid white;
  font-size: 0.8rem;
}

.searchMain {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.location {
  background-color: white;
  height: 3rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0.95rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  position: relative;
  box-shadow: var(--shadow);
  letter-spacing: 1px;
}

.arrow {
  font-size: 1rem;
  cursor: pointer;
}

.dropDown {
  background-color: #ffffff;
  position: absolute;
  top: 3.2rem;
  left: 0;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  display: none;
  box-shadow: 0 6px 27px 0 rgba(0, 3, 2, 0.08);
  z-index: 100;
  height: 12rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.p {
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-weight: 600;
}

#span {
  width: 5.75rem;
  overflow: hidden;
  letter-spacing: 0;
}

.locationIcon {
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .searchMain {
    gap: 0.5rem;
  }

  .arrow {
    font-size: 0.6rem;
  }

  .location {
    font-size: 0.65rem;
    gap: 0.5rem;
    margin-top: 1rem;
    height: 2.4rem;
  }

  .locationIcon {
    font-size: 0.6rem;
  }

  .dropDown {
    top: 2.7rem;
    height: 6.5rem;
  }

  #span {
    width: 3.1rem;
    font-size: 0.65rem;
  }
  .searchBox {
    width: 20rem;
    margin-top: 1rem;
    height: 2.4rem;
  }

  .searchIcon {
    width: 30%;
    height: 2.4rem;
  }

  .searchNames {
    width: 15rem;
    top: 2.7rem;
  }

  .searchInput {
    font-size: 0.85rem;
  }

  .name {
    font-size: 0.75rem;
  }
}
@media (max-width: 640px) {
  .searchBox {
    width: 18rem;
  }
  .searchNames {
    width: 18rem;
  }
  .searchMain {
    flex-direction: column;
  }
  .dropDown {
    height: 10.5rem;
  }
  #span {
    width: 5rem;
    font-size: 0.7rem;
  }
}
